__pycache__/
RBM/__pycache__/
unknown_stoic
known_stoic
unknown_stoichiometry/
results/
input/
output/
output_1/
step7/
step7_old/
step8/
step9/
step9a/
step10/
step11/
step12/
step13/
step14/
step14_old/
step15/
step18/
manual_check/
ranking_revision/
qs_revision/
results_revision/
old/
H0208/
*.png
*.err
*.log
